{% extends "page.html" %}

{% block body %}
  {{ super() }}

  {% if this.réponse %}
      <div class="row mx-0">
        <div class="mx-auto">
          <div class="input-group has-danger mb-4">
                <input type="text" placeholder="Votre réponse…" class="mr-4 form-control" id="answer">
                <button class="btn btn-primary" type="button" onclick="checkanswer()">Valider</button>
                <div class="invalid-feedback" id="feedback">plop</div>
          </div>
        </div>
      </div>

      <script>
        function checkanswer() {
            var answer = document.getElementById("answer").value;
            if (answer.toLowerCase().trim() === "{{ this.réponse }}".toLowerCase().trim()) {
                window.location = "{{ this.get_siblings().next_page|url }}";
            } else {
                if (answer.trim() === "") {
                  document.getElementById("feedback").innerHTML = "Veuillez proposer une réponse.";
                } else {
                  document.getElementById("feedback").innerHTML = `Désolé : « ${answer} » n'est pas la bonne réponse…`;
                }
                document.getElementById("answer").classList.add("is-invalid");
            }
        }

        document.getElementById("answer").addEventListener("keyup", function(event) {
                  if (event.keyCode === 13) {
                            event.preventDefault();
                            checkanswer();
                          }
                });
      </script>
  {% endif %}
{% endblock %}

{% block pagination %}
  <script type="text/javascript" src={{ "/static/progress.js"|url }}></script>

  <div class="row mx-0">
    <div class="mx-auto">
      <ul class="pagination">
        {% if this.has_prev() %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ this.get_siblings().prev_page.url_path|url }}"
              title="{{ this.get_siblings().prev_page.title|safe }}"
              >Précédent</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Précédent</a>
          </li>
        {% endif %}

        {% set avant = namespace(avant=true) %}
        {% for page in this.parent.children %}
          <li class="page-item {% if page == this %} active {% endif %} {% if not avant.avant %}disabled{% endif %}" id="page{{ loop.index }}" >
            {% if page == this %}
              <script>
                current_page = {{ loop.index }};
                progress_save({{ loop.index }}, window.location.href);
              </script>
              {% set avant.avant = false %}
              <a
                class="page-link"
                href="#"
                title="{{ page.title|safe }}"
                >{{ loop.index }}</a>
            {% else %}
              <a
                class="page-link "
                {% if avant.avant %}
                href="{{ page.url_path|url }}"
                {% endif %}
                title="{{ page.title|safe }}"
                >{{ loop.index }}
              </a>
              {% endif %}
          </li>
          {% if loop.last %}
            <script>
              // Active les pages déjà visitées, même dans le futur.
              for (var page = current_page + 1; page <= {{ loop.index }}; page++) {
                item = document.querySelector("#page" + page);
                // Si le lien n'est pas actif, mais que la page a été sauvegardée, on la charge
                if (item.classList.contains("disabled") && progress_load(page)) {
                  item.classList.remove("disabled");
                  item.querySelector("a").href = progress_load(page);
                }
              }
            </script>
          {% endif %}
        {% endfor %}

        <li class="page-item disabled">
          <a class="page-link" id="next" href="#">Suivant</a>
          <script>
                // Si le lien suivant est connu, on active le bouton "Suivant"
                if (progress_load(current_page + 1)) {
                  next = document.querySelector("#next");
                  next.href = progress_load(current_page + 1);
                  next.parentNode.classList.remove("disabled");
                }
          </script>
        </li>
      </ul>

    </div>
  </div>

  {% if this.has_next() %}
    <script>
      var url = new URL(window.location.href);
      var querysecret = new URLSearchParams(window.location.search).get("secret");
      if (querysecret === "{{ this.secret }}") {
            window.location = "{{ this.get_siblings().next_page|url }}";
          }
    </script>
  {% endif %}
{% endblock %}
