<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/minty/bootstrap.min.css" crossorigin="anonymous">

    <!-- Favicon : Créé par https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/static/apple-touch-icon.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/favicon-32x32.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/favicon-16x16.png"|asseturl }}">
    <link rel="manifest" href="{{ "/static/site.webmanifest"|asseturl }}">
    <link rel="mask-icon" href="{{ "/static/safari-pinned-tab.svg"|asseturl }}" color="#da532c">
    <link rel="shortcut icon" href="{{ "/static/favicon.ico"|asseturl }}">
    <meta name="apple-mobile-web-app-title" content="Jeu de piste">
    <meta name="application-name" content="Jeu de piste">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ "/static/browserconfig.xml"|asseturl }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Welcome{% endblock %} — Découverte de votre environnement de travail sur un ordinateur</title>

    <!-- Open graph protocol -->
    {% block opengraph %}
      <meta name="description" content="Jeu de piste pour découvrir son environnement de bureau" />
      <meta name="author" content="{{ config.PROJECT.author }}" />

      <meta property="og:title" content="{{ config.PROJECT.name }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ this|url(external=true) }}" />
      <meta property="og:image" content="{{ "/static/logo.svg"|url(external=true) }}" />
      <meta property="og:description" content="Jeu de piste pour découvrir son environnement de bureau" />
      <meta property="og:locale" content="{{ config.PROJECT.locale }}" />
      <meta property="og:site_name" content="{{ config.PROJECT.name }}" />

      <meta name="twitter:card" content="summary_large_image">
    {% endblock %}

    {% block morehead %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand {% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">
        <img id="logo" alt="Logo" src="{{ "/static/logo.svg"|asseturl }}" height=24>
        &nbsp;
        Jeu de piste
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbar">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link {% if this.is_child_of('/apropos') %}active{% endif%}" href="{{ '/apropos'|url }}">À propos</a>
          </li>
        </ul>
      </div>
    </nav>

        <div class="form-group">
                &nbsp;
                    </div>
                        <div class="form-group">
                                &nbsp;
                                    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          {% block body %}{% endblock %}
        </div>
      </div>

      {% block pagination %}{% endblock %}

    </div>

    <div class="form-group">
      &nbsp;
    </div>

    <footer class="text-center footer" id="footer">
      &copy; <a href="//forge.apps.education.fr/paternaultlouis/jeu-de-piste">Copyright 2018-2024</a> par Louis Paternault

      —

      Publié sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">Creative Commons by-sa 4.0</a>.

      <br/>

      Construit avec <a href="http://getlektor.com">Lektor</a> ;
      thème <a href="http://bootswatch.com/minty/">Minty</a>,
      basé sur <a href="http://getbootstrap.com/">Bootstrap</a>.
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
