{% extends "layout.html" %}

{% block morehead %}
<meta http-equiv="Refresh" content="0; url={{ this.url }}" />
{% endblock %}

{% block title %}Redirection{% endblock %}

{% block body %}
<p>
<a href="{{ this.url }}">Redirection…</a>
</p>
{% endblock %}
